version: "3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "flask db upgrade && flask run --host=0.0.0.0 --port=6060"
    ports:
      - "6060:6060"
    volumes:
      - .:/app

  db:
    image: postgres:15.5-alpine3.18
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

